body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo {
    height: 20vh;
    width: 20vh;
    transition: transform 0.3s;
}

#logo:hover {
    animation: logoHover 0.5s ease-in-out alternate infinite;
}

@keyframes logoHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.container {
    text-align: center;
}

.search-box {
    position: relative;
    display: inline-block;
}

input[type="text"] {
    padding: 14px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #1e1e1e;
    color: #ffffff;
    width: 300px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus {
    background-color: #2a2a2a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.search-icons {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.search-icon,
.cross-icon {
    color: #8f8f8f;
    font-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 12px;
}

.cross-icon {
    display: none;
}

.profile-details {
    display: none;
    margin-top: 30px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 4px solid #ffffff;
}

.user-details {
    margin-top: 30px;
}

.username {
    font-size: 28px;
    margin-top: 15px;
}

.bio {
    font-size: 18px;
    margin-top: 10px;
    color: #b0b0b0;
}

.data {
    font-size: 16px;
    margin-top: 10px;
    color: #b0b0b0;
}

#profileLink {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

#profileLink:hover {
    color: #0056b3;
}


.not-found {
    display: none;
    color: #ff5555;
    margin-top: 20px;
}

.dark-mode {
    background-color: #141414;
    color: #ffffff;
}

.loader {
    border: 4px solid rgb(255, 2, 2);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

.error-message {
    color: #ff5555;
    margin-top: 10px;
}